{{!< default}}

<div class="gh-container">
  {{#author}}
    <header class="gh-page-head mb-8">
      <div class="flex gap-4 items-start">
        {{#if profile_image}}
          <img class="rounded-full w-24 aspect-square" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}
        <div>
          <h1 class="font-bold text-4xl">{{name}}</h1>
          <span class="prose">
            {{#if website}}
              <a href="{{website}}" target="_blank" rel="noopener">Website</a>
            {{/if}}
            {{#if twitter}}
              <a href="{{twitter_url}}" target="_blank" rel="noopener">X</a>
            {{/if}}
            {{#if facebook}}
              <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
            {{/if}}
          </span>
          {{#if bio}}
            <p class="font-semibold text-xl opacity-80 mt-2">{{bio}}</p>
          {{/if}}
        </div>
      </div>
    </header>
  {{/author}}

  <div>
    {{#author}}<h2 class="text-xs font-semibold uppercase mb-4">Artikel oleh {{name}}</h2>{{/author}}
    <div class="grid grid-cols-2 gap-6">
      {{#foreach posts}}
        {{> components/post-card}}
      {{/foreach}}
    </div>
    {{pagination}}
  </div>

</div>
