<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{asset 'style.css'}}" />
  <script src="{{asset 'script.js'}}" defer></script>

  <title>{{meta_title}}</title>

  {{!-- Outputs important scripts and metadata - should always be included inside the head tag --}}
  {{ghost_head}} 
</head>

<body class="{{body_class}}">
  <header id="gh-head" class="py-4 bg-white border-b border-border">
    <div class="px-4 flex justify-between items-center">
      <a href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
          <span class="text-2xl font-bold">{{@site.title}}</span>
        {{/if}}
      </a>

      <div class="flex gap-4 items-center">
        <nav class="hidden md:block">{{navigation}}</nav>
        {{search}}
      </div>
    </div>
    <nav class="md:hidden mt-6 overflow-x-scroll px-4 w-fit mx-auto">{{navigation}}</nav>
  </header>

  <main class="my-8 container mx-auto px-4">
    {{{body}}}
  </main>

  <footer class="text-background bg-text py-4 px-4 flex flex-col items-center lg:flex-row lg:items-end justify-between">
    <div class="max-w-96">
      {{navigation type="secondary"}}
    </div>
    <div class="opacity-60 font-semibold lg:text-sm">
      Dibuat dengan ☕ dan ❤ oleh <a href="https://izzudd.invasikode.com" target="_blank" rel="noopener" class="hover:underline">Izzudd</a>
    </div>
  </footer>

  {{! Outputs important scripts - should always be included before closing body tag }}
  {{ghost_foot}}
</body>

</html>