<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{{> "generated/style"}}</style>
  <title>{{meta_title}}</title>
  {{ghost_head}}
</head>

<body class="{{body_class}} h-screen w-screen flex items-center justify-center">
  <div class="flex gap-8 flex-col items-center">
    <pre id="error__alert"></pre>
    <a class="hover:underline font-mono" href="{{@site.url}}"><< Klik di sini >></a>
  </div>
  <script>{{> "generated/script"}}</script>
  {{ghost_foot}}
</body>
</html>