{{!< default}}

{{#post}}

<div class="prose prose-lg mx-auto">
  <article class="{{post_class}}">
    <header class="not-prose">
      <div class="text-sm mb-4 flex justify-between flex-wrap">
        <span class="font-semibold">Ditulis oleh {{#foreach authors}}<a href="{{url}}" class="underline">{{name}}</a>{{/foreach}}</span>
        <span class="opacity-50">
          <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="D MMMM YYYY" locale="id_ID"}}</time>
          <span class="bull">&bull;</span> {{reading_time minute="Artikel singkat" minutes="Baca % menit"}}</span>
        </span>
      </div>
      <h1 class="font-bold text-4xl">{{title}}</h1>
      {{#if custom_excerpt}}
        <p class="font-semibold text-xl opacity-60 my-2">{{custom_excerpt}}</p>
      {{/if}}

      {{#if feature_image}}
        <figure class="text-center my-8">
          <picture>
            <source 
            srcset="
              {{img_url feature_image size="xxs" format="avif"}} 30w,
              {{img_url feature_image size="xs" format="avif"}} 100w,
              {{img_url feature_image size="s" format="avif"}} 300w,
              {{img_url feature_image size="m" format="avif"}} 600w,
              {{img_url feature_image size="l" format="avif"}} 1200w,
              {{img_url feature_image size="xl" format="avif"}} 2000w"
            sizes="(min-width: 1200px) 1200px, 90vw" 
            type="image/avif"
            >
            <source 
            srcset="
              {{img_url feature_image size="xxs" format="webp"}} 30w,
              {{img_url feature_image size="xs" format="webp"}} 100w,
              {{img_url feature_image size="s" format="webp"}} 300w,
              {{img_url feature_image size="m" format="webp"}} 600w,
              {{img_url feature_image size="l" format="webp"}} 1200w,
              {{img_url feature_image size="xl" format="webp"}} 2000w"
            sizes="(min-width: 1200px) 1200px, 90vw" 
            type="image/webp"
            >
            <img
            srcset="
              {{img_url feature_image size="xxs"}} 30w,
              {{img_url feature_image size="xs"}} 100w,
              {{img_url feature_image size="s"}} 300w,
              {{img_url feature_image size="m"}} 600w,
              {{img_url feature_image size="l"}} 1200w,
              {{img_url feature_image size="xl"}} 2000w"
            sizes="(min-width: 1200px) 1200px, 90vw" 
            src="{{img_url feature_image size="l"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            >
          </picture>
          {{#if feature_image_caption}}
            <figcaption class="mt-2 opacity-50 text-sm">{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
      {{/if}}
    </header>

    <div>
      {{content}}
    </div>

    <footer>
      <div>
        <div>Ditulis oleh {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}</div>
        <div>{{tags separator=", " prefix="Tagar: "}}</div>
      </div>

      {{#if comments}}
        <section class="mt-4">
          {{comments title="Komentar"}}
        </section>
      {{/if}}
    </footer>
  </article>

  <aside class="not-prose mt-8 pt-8 border-t border-border">
    <h4 class="text-xs font-semibold uppercase mb-4">Rekomendasi</h4>
    <div class="flex flex-col md:flex-row gap-4 ">
      {{#next_post}}{{> components/post-card}}{{/next_post}}
      {{#prev_post}}{{> components/post-card}}{{/prev_post}}
    </div>
  </aside>
</div>

{{/post}}
